*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
* {
  font-family: Georgia, “Playfair Display”, “Didot”, "Times New Roman", Times,
    serif;
}

#root {
  --mainColor: #122e43;
  --mainColorDark: #091c2b;
  --mainColorLight: #2b4d68;
}
.mytinerary-logo {
  width: 200px;
}

.social-icon {
  width: 1rem;
  transition: 0.2s;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(161deg)
  brightness(102%) contrast(101%);
}
.user-icon {
  width: 2rem;
}

div a {
  color: white !important;
}

.nav-link {
  color: white;
  font-weight: bold;
  font-size: 2rem;
}

.nav-link:hover {
  color: #122e43 !important;
}

.hover-white:hover {
  transition: 0.2s;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(161deg)
    brightness(102%) contrast(101%);
}

.social-icon:hover {
  width: 1.4rem;
}
.footer-container {
  background-color: var(--mainColorDark);
}

.footer-logo {
  width: 20rem;
}
.firstSection {
  background-color: #67a1a5;
  background-image: url("./assets/first-section.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.errorPage {
  min-height: 100vh;
  background-image: linear-gradient(
    to bottom right,
    #39838f,
    var(--mainColorLight)
  );
}

.featuredSection {
  background-image: linear-gradient(
    to bottom right,
    var(--mainColorDark),
    var(--mainColorLight)
  );
  min-height: 60vh;
}

.citiesSection {
  background-color: #766f778c;
  background-image: url("./assets/cities-section.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.search-title {
  text-shadow: 3px 3px black;
}

.text-shadow {
  text-shadow: 2px 2px black;
}

.search-input:hover {
  color: black;
}
#button-addon2 {
  color: white;
  border: 3px solid white;
}
#button-addon2:hover {
  background-color: #122e43;
  border-color: #122e43;
}

.aboutUs {
  min-height: 50vh;
  background-image: url("./assets/about-us.jpg");
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
}
.search-tool-container {
  min-height: 70vh;
}

.action-call-container {
  min-height: 70vh;
}

.carrouselSection {
  background-image: linear-gradient(
    to bottom left,
    var(--mainColorDark),
    var(--mainColorLight)
  );
}

.image-title {
  border-radius: 4px;
  background-color: #122e4393 !important;
}

.carousel-control-prev {
  left: -8rem !important;
}
.carousel-control-next {
  right: -8rem !important;
}
.carousel-indicators {
  bottom: -3rem !important;
}
div.card {
  transition: 0.2s;
}

div.card:hover {
  transition: 0.2s;
  box-shadow: 5px 5px 5px black;
  transform: scaleY(1.01);
}

.slideShow {
  min-height: 70vh;
  background-color: #122e43;
}

.nav-brands {
  margin-right: 0px !important;
}

.main-nav {
  padding-right: 0px !important;
}

.main-nav-container {
  min-height: 30vh;
}

.white-img {
  filter: invert(100%) sepia(0%) saturate(7447%) hue-rotate(191deg)
    brightness(112%) contrast(116%);
}
.featured-title {
  height: 30vh;
}

.ballon {
  width: 6rem;
  filter: invert(100%) sepia(0%) saturate(7447%) hue-rotate(191deg)
    brightness(112%) contrast(116%);
}
hr.dashed {
  border-top: 3px dashed #bbb;
}

.white-button {
  background-color: #122e43;
  color: white;
  box-shadow: 3px 3px 1px #00000085;
  padding: 1.3rem;
}

.white-button:hover {
  transition: 0.3s;
  background-color: white;
  color: #122e43;
}

.transparent-button {
  background-color: rgba(0, 0, 0, 0);
  box-shadow: 3px 3px 1px #00000085;
}

.transparent-button:hover {
  transition: 0.3s;
  background-color: #122e432d;
}

.hero-mytinerary {
  box-shadow: 3px 3px 1px #00000085;
  background-color: #122e43b4;
  padding: 3%;
  transition: 0.2s;
}

.hero-mytinerary:hover {
  transition: 0.2s;
  background-color: var(--mainColor);
}

.action-button-container {
  background-color: var(--mainColor);
  border: 2px solid #2b4d68;
  animation-name: neon;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes neon {
  0% {
    background-color: var(--mainColor);
    border: 2px solid white;
  }
  50% {
    background-color: rgba(255, 255, 255, 0.123);
    border: 2px solid #122e43;
  }
  100% {
    background-color: var(--mainColor);
    border: 2px solid white;
  }
}

@media only screen and (max-width: 780px) {
  .text-shadow {
    background-color: #122e438e;
    padding: 4px;
    text-align: center;
  }
  .footer-row {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 990px) {
  .featured-icons-container {
    flex-direction: column;
  }
}
