*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
* {
  font-family: Georgia, “Playfair Display”, “Didot”, "Times New Roman", Times,
    serif;
}

#root {
  --mainColor: #122e43;
  --mainColorDark: #091c2b;
  --mainColorLight: #2b4d68;
}

.mytinerary-logo {
  width: 200px;
}

.social-icon {
  width: 1rem;
  transition: 0.2s;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(161deg)
    brightness(102%) contrast(101%);
}
.user-icon {
  width: 2rem;
}

div a {
  color: white !important;
}

.nav-link {
  color: white;
  font-weight: bold;
  font-size: 2rem;
}

.nav-link:hover {
  color: #122e43 !important;
}

.hover-white:hover {
  transition: 0.2s;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(161deg)
    brightness(102%) contrast(101%);
}

.social-icon:hover {
  width: 1.4rem;
}

.footer-container {
  background-color: var(--mainColorDark);
}

.error-icon {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(161deg)
    brightness(102%) contrast(101%);
}

.footer-logo {
  width: 20rem;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(161deg)
    brightness(102%) contrast(101%);
}

.firstSection {
  background-color: #67a1a5;
  background-image: url("./assets/first-section.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.errorPage {
  min-height: 100vh;
  background-image: linear-gradient(
    to bottom right,
    #39838f,
    var(--mainColorLight)
  );
}

.featuredSection {
  background-image: linear-gradient(
    to bottom right,
    var(--mainColorDark),
    var(--mainColorLight)
  );
  min-height: 60vh;
}

.citiesSection {
  background-color: #766f778c;
  background-image: url("./assets/cities-section.jpg");
  z-index: -2000;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.vh-70{
    min-height: 70vh;
}

.signIn-card{ 
    
}

.form-sign{
    border-radius: 0px 0px 0px 0px;
    /* border-top-right-radius: 30px;
    border-bottom-right-radius: 30px; */
    background-color: cadetblue;
    box-shadow: 5px 5px 10px var(--mainColorDark);
}

.submit-button{
    transition: .2s;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid white;
    border-radius: 10px;
    padding: 5px 15px 5px 15px;
    color:white;
    font-size: 1.4rem;
}

.submit-button:hover{
    transition: .2s;
    background-color: var(--mainColor);
}

.submit-button:active{
    animation: press 0.05s 1 linear;
}

.welcome-sign{
    border-radius: 0px 0px 0px 0px;
    background-color: cornflowerblue;
    box-shadow: 5px 5px 10px var(--mainColorDark);
}

.sign-logo{
    filter: invert(95%) sepia(100%) saturate(14%) hue-rotate(213deg) brightness(104%) contrast(104%);
    width:15rem
}

.citySection {
  min-height: 70vh;
  background-image: linear-gradient(to bottom, #479ba3, var(--mainColor));
}

.city-image {
  width: 30rem;
}

.city-card {
  transition: 0.2s;
}

.city-card:hover {
  transition: 0.2s;
  box-shadow: 10px 10px black;
}

.city-bg {
  transition: 0.2s;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 0 2000px #122e4391;
  min-height: 30vh;
}

.city-bg:hover {
  transition: 0.2s;
  box-shadow: inset 0 0 0 2000px #122e4300;
}

.city-title {
  transition: 0.2s;
}
.city-bg:hover .city-title {
  transition: 0.2s;
  background-color: #122e43c7;
  border-radius: 4px;
  padding: 3px;
  box-shadow: 1px 1px 5px #122e43, -1px -1px 5px #122e43;
}

#dolar {
  width: 2.5rem;
  filter: invert(58%) sepia(54%) saturate(578%) hue-rotate(42deg)
    brightness(93%) contrast(85%);
  padding: 0.1rem;
  transition: 0.2s;
}

#dolar:hover {
  transition: 0.2s;
  filter: invert(100%) sepia(1%) saturate(361%) hue-rotate(200deg)
    brightness(120%) contrast(100%);
}

.user-img {
  width: 9rem;
  height: 9rem;
  object-fit: cover;
}
.vh-20 {
  min-height: 20vh;
}

.itinerarySection {
  min-height: 30vh;
  background-image: linear-gradient(to bottom, var(--mainColor), #0d2a41);
}

.activitySection {
  background-image: linear-gradient(to bottom, var(--mainColor), #0d2a41);
}

.bg-main {
  background-color: var(--mainColor) !important;
}

.bg-main-dark {
  background-image: linear-gradient(to bottom right, #051625, #1e3950);
}

.like {
  filter: invert(100%) sepia(0%) saturate(7447%) hue-rotate(191deg)
    brightness(112%) contrast(116%);
  width: 3rem;
}
.like:hover {
  filter: invert(100%) sepia(0%) saturate(7447%) hue-rotate(191deg)
    brightness(80%) contrast(116%);
}
.like:active {
  animation: press 0.1s 1 linear;
}

.like-black {
  width: 3rem;
  filter: invert(36%) sepia(98%) saturate(371%) hue-rotate(100deg) brightness(94%) contrast(88%);
}
.like:active {
  animation: press 0.1s 1 linear;
}

.liked-container {
  height: 3vh;
}
@keyframes press {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  to {
    transform: scale(1);
  }
}

.h20 {
  height: 10vh !important;
}

.bg-main-light {
  background-image: linear-gradient(to bottom right, #2b4d68, #1e3950);
}

.back-button {
  background-color: var(--mainColorDark) !important;
  border: var(--mainColorDark) !important;
}

.back-button:hover {
  background-color: var(--mainColorLight) !important;
}
.itinerary-button:hover {
  background-color: var(--mainColorDark) !important;
  color: white !important;
}

.itinerary-card{
    transition: 0.2s;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 0 2000px #051827ad;
}

.itinerary-card:hover{
    transition: 0.2s;
  box-shadow: inset 0 0 0 2000px #122e438e;
}

.cities-pack-section {
  min-height: 65vh;
  background-image: linear-gradient(
    to bottom right,
    #11283d,
    var(--mainColorLight)
  );
}

.search-title {
  text-shadow: 3px 3px black;
}

.text-shadow {
  text-shadow: 2px 2px black;
}

#button-addon2 {
  color: white;
  border: 3px solid white;
}
#button-addon2:hover {
  background-color: var(--mainColor);
  border-color: #122e43;
}

.aboutUs {
  min-height: 50vh;
  box-shadow: inset 0 0 0 1000px #122e439a;
  background: url("./assets/about-us.jpg");
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
}
.sign-mytinerary{
    width: 100%;
    
}

.white-hover {
  transition: 0.2s;
  height: 4rem;
}

.white-hover:hover {
  transition: 0.2s;
  background-color: rgba(255, 255, 255, 0.199);
}

.search-tool-container {
  min-height: 70vh;
}

.action-call-container {
  min-height: 70vh;
}

.carrouselSection {
  background-image: linear-gradient(
    to bottom left,
    var(--mainColorDark),
    var(--mainColorLight)
  );
}

.activitesSection {
  margin-top: 100px;
}

.image-title {
  border-radius: 4px;
  background-color: #122e4393 !important;
}

.carousel-control-prev {
  left: -2rem !important;
  width: 1rem !important;
}
.carousel-control-next {
  right: -2rem !important;
  width: 1rem !important;
}
.carousel-indicators {
  bottom: -3rem !important;
}
div.card {
  transition: 0.2s;
}

div.card:hover {
  transition: 0.2s;
  box-shadow: 5px 5px 5px black;
  transform: scaleY(1.01);
}

.slideShow {
  min-height: 70vh;
  background-color: #122e43;
}

.nav-brands {
  margin-right: 0px !important;
}

.main-nav {
  padding-right: 0px !important;
}

.main-nav-container {
  min-height: 30vh;
}

.white-img {
  filter: invert(100%) sepia(0%) saturate(7447%) hue-rotate(191deg)
    brightness(112%) contrast(116%);
}
.featured-title {
  height: 30vh;
}

.ballon {
  width: 6rem;
  filter: invert(100%) sepia(0%) saturate(7447%) hue-rotate(191deg)
    brightness(112%) contrast(116%);
}
hr.dashed {
  border-top: 3px dashed #bbb;
}

.white-button {
  background-color: #122e43;
  color: white;
  box-shadow: 3px 3px 1px #00000085;
  padding: 1.3rem;
}

.white-button:hover {
  transition: 0.3s;
  background-color: white;
  color: #122e43;
}

.transparent-button {
  background-color: rgba(0, 0, 0, 0);
  box-shadow: 3px 3px 1px #00000085;
}

.transparent-button:hover {
  transition: 0.3s;
  background-color: #122e432d;
}

.hero-mytinerary {
  box-shadow: 3px 3px 1px #00000085;
  background-color: #122e43b4;
  padding: 3%;
  transition: 0.2s;
}

.hero-mytinerary:hover {
  transition: 0.2s;
  background-color: var(--mainColor);
}

.action-button-container {
  background-color: #122e4381;
  border: 2px solid #2b4d68;
  animation-name: neon;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

.messageType {
  min-height: 28vh;
}

#gear {
  animation-name: rotate;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  filter: invert(100%) sepia(0%) saturate(7447%) hue-rotate(191deg)
    brightness(112%) contrast(116%);
  width: 5rem;
}

@keyframes neon {
  0% {
    background-color: #122e4381;
    border: 2px solid white;
  }
  50% {
    background-color: rgba(255, 255, 255, 0.123);
    border: 2px solid #122e43;
  }
  100% {
    background-color: #122e4381;
    border: 2px solid white;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(90deg);
  }
}

@media (max-width: 575px) {
  .publisher-name {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 780px) {
  .footer-row {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 990px) {
  .featured-icons-container {
    flex-direction: column;
  }
}

@media (max-width: 991px){
    .form-sign{
        border-radius: 0px;
        background-color: lightcoral;

    }
    .welcome-sign{
        border-radius: 0px;
        display: none !important;
    }
}
@media (min-width: 768px){
    .mock-container{
        display: none;
    }
}

@media (max-width: 767px){
    .main-nav-container{
        position: absolute !important;
        top: 0 !important;
        left: 0 !important;
        right: 0 !important;
    }
    .action-call-container{
        justify-content: end !important;
        min-height : 100vh !important;
    }
    #responsive-navbar-nav{
        background-color: #45969fa8 !important;
        z-index: 10 !important;
        border-radius: 6px;
    }
    .search-tool-container{
        min-height: 100vh;
    }
    .mock-container{
        min-height: 30vh;
    }  
}

/* backdrop-filter: blur(4px) */
/* para dalr efectod e desenfoque */
